.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  width: 100%;
}

button{
  border-style: solid;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Greeting Card component styling */

.gc-component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greeting-card-container{
  display: flex;
  width: 75%;
  border:solid 5px aqua;
  border-width: 3px;
  padding: 2%;
}

.card-image{
  /* display: flex; */
  width: 100%;
  border: solid 5px purple;
  margin: auto;

}

.card-message{
  border: solid 5px yellow;
  margin: auto;
  padding: 10%;
}

.reshare-message-wrapper{
  flex-wrap: wrap;
  border: solid 5px lightcoral;

}
.reshare-message{
  display: flex;
  flex-direction: column;
  border: solid 5px green;
}

/* Preview styling:
see Greeting Card component styling for greeting card styling*/

.button-controls{
  border: solid 5px rgb(2, 0, 128);
}


@media screen and (max-width: 576px ) {
  .greeting-card-container{
    flex-direction: column;
  }

  
}