/* Global Styles */

*{
  box-sizing: border-box;
}

.app-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #a7dbab;
}

button{
  border-style: solid; 
  border: 1px;
  border-color: #d05663;
  background-color: #d05663;
  border-radius: 5px;
  color: #000;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
}

img{
  width: 100%;
}

footer{
  display: flex;
  justify-content:space-between;
  color: #f3f3f5;
  background-color: #073431;
  width: 100%;
  height: 50px;
  margin-top: 30px;
}

form{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  border: solid 2px #073431;
  background-color: #073431;
  margin: 5px;
  padding-left: 0 10px 0 0;
  width: 100%;
}

input{
  height: 10px;
  flex: 0 0 20px;
  width: 95%;
  margin-left: 5px;
  border:solid 1px #000;
  background-color: #f3f3f5;
}

label{
  margin: 5px 0 5px 5px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #f3f3f5;;
}

textarea{
  font-family: 'Montserrat', sans-serif;
  width: 95%;
  border:solid 1px #000;
  margin-left: 5px;
  background-color: #f3f3f5;
}

/* Footer Icon Styling */
.icon-container{
  margin-right: 20px;
  font-size: 30px;
  display: flex;
  width: 10%;
  line-height: 1.5em;
  justify-content: space-between;
}

.icon-container a:link .fa,
.icon-container a:visited .fa {
color: #f3f3f5;
}
.fa-github-square, 
.fa-instagram, 
.fa-linkedin{
  color: white;
}

.copyright-container{
  margin-left: 20px;
}

/* Greeting Card component styling */

.gc-component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a7dbab;
  height: 100vh;
}
.greeting-card-container{
  display: flex;
  width: 75%;
  background-color: #f3f3f5;
  border-color: #d05663;
  border-width: 5px;
  border-top-left-radius: 90px 80px;
  border-bottom-right-radius: 90px 80px;
  padding: 8%;
}

.card-image{
  width: 100%;
  margin: auto;

}

.card-message{
  margin: auto;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

.reshare-message-wrapper{
  flex-wrap: wrap;
}
.reshare-message{
  display: flex;
  flex-direction: column;
}

/* Preview styling:
see Greeting Card component styling for greeting card styling*/

.button-controls{
  display: flex;
  justify-content:space-between;
  width: 50%;
}
.preview-btn{
  justify-content: center;
}

/* Card Form Styling: */

.customize-card-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card-form-container{
  display: flex;
  width: 70%;
  padding: 5%;
  background-color: #a7dbab;
}

.instructions{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #073431;
}


/* Media Queries */

@media screen and (max-width: 768px ) {
  .greeting-card-container{
    flex-direction: column;
    align-items: center;
  }
  .card-form-container{
    flex-direction: column;
    align-items: center;
    border-width: 5px;
  }
  button{
    width: 70px;
  }
  form{
    padding: 0;
  }
  footer{
    justify-content: space-around;
    margin: 0;
    flex: 0 0  auto;
  }
  .icon-container{
    margin:0;
    width: auto;
    justify-content:center;
    line-height: 1.5em;
  }
  .copyright-container{
    margin:0;
  }
  i{
    margin: 5px;
  }
  
}